
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout_clear.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>About us!</title>
    <style>

        img {
            float: right;
        }

        .msg_pad {
            padding-top: 100px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
            color: #112d4e;
        }

        .font_about1 {
            font-family: mayton;
            font-size: 150px;
            text-align: center;
        }

        .font_about2 {
            font-family: prompt;
            font-size: 30px;
            font-style: italic;
            text-align: center
        }

        .font_about3 {
            font-family: prompt;
            font-size: 20px;
            font-style: italic;
            text-align: center;
        }
    </style>
</head>

<body bgcolor="#dbe2ef">



    <div class="msg_pad">
        <div class="font_about1">About us</div>

        <div class="font_about2">Royal Canin Cat Hotel</div>
        
            <div class="font_about3">
                <br> รอยัลคานิล แคท โฮเทล จัดตั้งขึ้นในปี 2020 </br>
                <br> โดยมีความตั้งใจว่า จะดูแลแมวของท่าน </br>
                <br> ให้เหมือนเป็นแมวของเราเอง </br>
            </div>
        
</div>

</body>
</html>