
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout_clear.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>About us!</title>
    <style>

        img {
            float: right;
        }

        .msg_pad {
            padding-top: 100px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
            color: #112d4e;
        }

        .font_about1 {
            font-family: mayton;
            font-size: 100px;
            text-align: left;
        }

        .font_about2 {
            font-family: prompt;
            font-size: 50px;
            font-style: italic;
            text-align:left;
        }

        .font_about3 {
            font-family: prompt;
            font-size: 20px;
            font-style: italic;
            text-align: left;
        }
    </style>
</head>

<body bgcolor="#dbe2ef">



    <div class="msg_pad">
        <div class="font_about1">Contact us</div>

        <div class="font_about2">Royal Canin Cat Hotel</div>

        <div class="font_about3">
            <br> 17/19 HOGWART TOWER, Bear Rd, </br>
            <br> Bangrak Bangkok, 10200  </br>
            <br> Tel . 01234567, 087895555 </br>
            <br> E-MAIL . royalcanin-hotel@gamil.com </br>
        </div>

        <br><iframe src="https://www.google.com/maps/d/u/0/embed?mid=14Gr8rBEsiHhl_FFo6cnqNtfpePJ1XsFg" width="300" height="300"></iframe></br>
    </div>
    
</body>
</html>

