@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_clear.cshtml";
}

<div>

    <div>
        &nbsp;
    </div>
    <center>
        <table style=" background-color: rgba(218 , 226, 239, 0.5); " width="40%">
            <tr>
                <td align="center" style="color: #112D4E">
                    <div style="font-family: 'Mayton'; font-size: 70pt">Welcome to</div><br />
                </td>
            </tr>
            <tr>
                <td align="center" style="color:#112D4E">
                    <h3 style="font-family: 'Prompt';"><i>Royal Kanin Cat Hotel</i></h3><br />
                    
                </td>
            </tr>
            
            <tr>
                <td>
                    <tr>
                        <td align="center" >
                            <a style="color:#112D4E" href="https://localhost:44306/Home/Contact"><h5>Contact us</h5></a>
                        </td>
                    </tr>
                </td>
            </tr>
        </table>
    </center>
</div>